{% extends 'main.html' %}
{% block content %}
<main class="formPage my-xl">
    <div class="content-box">
        <div class="formWrapper">
            <h3>Enter new password</h3>
            <br>

            <p>Please enter your new password twice so we can verify you typed it in correctly.</p>
            <form action="" class="form" method="POST">
                {% csrf_token %}
                <!-- Input:Text -->
                {% for field in form %}
                <div class="form__field">
                    <label for="formInput#text">{{field.label}}</label>
                    {{field}}
                </div>
                {% endfor %}
                <input class="btn btn--sub btn--lg  my-md" type="submit" value="Change my password" />
            </form>
        </div>
    </div>
</main>
{% endblock %}